<nav>
    <div class="nav-wrapper light-blue lighten-4">
        <a href="/" class="brand-logo center">Hungry Burger</a>
        <ul id="nav-mobile" class="left">
            <li><a href="/"><i class="material-icons">Home</i></a></li>
            <li><a href="/menu">See the Menu</a></li>
        </ul>
    </div>
</nav>